/aj.png
/Ayush.sql
/back_end.py
/c.ico
/calculator.py
/check.py
/class.py
/class.sql
/confi.py
/cw.py
/dropdown.py
/Entty_box.py
/exampl.py
/example.py
/fr.py
/Hospital.sql
/hw.py
/Instagram
/Instagram.py
/Intro.py
/login.py
/logincw.py
/message.py
/patra.py
/pillow.py
/tempCodeRunnerFile.py